.grid_container {
    position: absolute;
    left: 50%;
    top: 16vw;
    width: 80vw;
    padding-bottom: 5vw;
    transform: translate(-50%);
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
    z-index: -1;
}

.One,
.Two,
.Three,
.Four,
.Five,
.Six {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 2vw;
    background-color: #E7E6E6;
    text-decoration: none;

    img {
        width: 100%;
        height: auto;
        border-radius: 2vw;
    }

    .text_link {
        margin-top: 10px;
        text-align: center;
        color: black; /* Set default color to black */
        text-decoration: none;
    }

    .text_link:hover {
        color: #5782AA; /* Change color on hover */
    }
}
