.chat_container {
    position: absolute;
    background-color: #E7E6E6;
    top: 16vw;
    height: 38vw;
    width: 80vw;
    border-radius: 2vw;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 20% 80%;

    .left_chat_col {
        overflow-y: auto;
        border-radius: 2vw 0 0 2vw;
    }
    
    .right_chat_col {
        border-radius: 0 2vw 2vw 0;
        overflow-y: hidden;
    }
}

.new_chat_button {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    height: 3vw;
    width: 3vw;
    bottom: 2vw;
    left: 2vw;
    /* right: 80%; */
    border: 0;
    border-radius: 50%;
    background-color: #5782AA;
    cursor: pointer;

    &:hover {
        background-color: #4e7599;
    }

    img {
        height: 2.3vw;
        width: auto;
    }
}
