.chat_container {
    position: absolute;
    background-color: #E7E6E6;
    top: 16vw;
    height: 38vw;
    width: 70vw;
    padding: 20px;
    border-radius: 2vw;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 6vw;
}
