.panel_bar {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space items evenly */
    position: absolute;
    top: 37vw;
    left: 50%;
    height: 4vw;
    width: 70vw;
    border-radius: 2vw;
    margin-left: -35vw;
    background-color: #B2B1B1;
    transform: translateY(-50%);
}

.prompt_bar {
    height: 2vw;
    width: 62vw;
    border: 0;
    border-radius: 2vw;
    background-color: #b89c9c;
    padding-left: 1vw;
    font-size: 1.3vw;
}

.submit_button {
    height: 2vw;
    width: 6vw;
    border: 0;
    border-radius: 2vw;
    background-color: #b89c9c;
    font-size: 1.3vw;
    cursor: pointer;
}