.panel_bar {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space items evenly */
    position: absolute;
    top: 37vw;
    left: 50%;
    height: 4vw;
    width: 70vw;
    border-radius: 2vw;
    margin-left: -35vw;
    background-color: #B2B1B1;
    transform: translateY(-50%);
}

.prompt_bar {
    height: 3vw;
    width: 62vw;
    border: 0;
    border-radius: 2vw;
    background-color: #B2B1B1;
    padding-left: 2vw;
    overflow-y: auto;
    
    font-size: 1.2vw;

    &:focus {
        outline: none;
    }
}

.submit_button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vw;
    width: 3vw;
    margin-right: 0.5vw;
    border: 0;
    border-radius: 50%; /* Round the button to create a circle */
    background-color: #5782AA;
    font-size: 1.3vw;
    cursor: pointer;

    &:hover {
        background-color: #4e7599;
    }
}