.header {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 1000; 
}

.nav_list_icon {
    height: 8vh;
    position: fixed;
    padding-top: 0.5vh;
    z-index: 1;
}

.nav_list_icon:hover {
    transform: scale(1.1);
    transition: transform 0.4s ease;
}

.nav_list_icon:not(:hover) {
    transform: scale(1); 
    transition: transform 0.4s ease;
}

.nav_bcn {
    height: 7.5vh;
    padding-top: 1vh;
}
