.login_container {
    bottom: 10vh;
    height: 50%;
    left: 50%;
    padding: 2vw;
    position: absolute;
    border-radius: 2vw;
    transform: translate(-50%);
    background-color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        font-size: 1.5vw;
    }

    input {
        display: block;
        width: calc(100% - 7vw);
        padding: 0.8vw;
        margin: 0 auto 2vw;
        border: 0.1vw solid #B2B1B1;
        border-radius: 2vw;
        font-size: 1.1vw;
    }

    button.submit-button,
    button.close-button {
        padding: 1vw;
        border-radius: 2vw;
        cursor: pointer;
        transition: transform 0.4s ease;
        font-size: 1.3vw;

    }

    button.submit-button {
        width: 50%;
        margin-bottom: 0.8vw;
        background-color: #5782AA;
        border: none;
        color: #f8f8f8;
    }

    button.close-button {
        width: 30%;
        margin-top: 0.8vw;
        background-color: #B2B1B1;
        border: none;
    }

    .error_message {
        color: rgb(242, 60, 60);
        margin-top: 10px;
        font-size: 13px;
    }
}

#boto {
    bottom: 10vh;
    left: 50%;
    position: fixed;
    padding: 2vh 5vw;
    border: none;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    cursor: pointer;

    background-color: #ffffff;
    color: black;
    opacity: 0.8;

    text-decoration: none;
    font-size: 1.3vw;
    font-family: 'Open Sans', sans-serif;

}
