.login_container {
    bottom: 5vh;
    height: 44vh;
    width: 23vw;
    left: 50%;
    padding: 4vh;
    position: absolute;
    border-radius: 4vh;
    transform: translate(-50%);
    background-color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    p {
        font-size: 2.7vh;
    }

    input {
        display: block;
        width: 70%;
        padding: 2vh;
        margin: 2vh auto;
        border: 0.2vh solid #B2B1B1;
        border-radius: 8vh;
        font-size: 2.2vh;
    }

    button.submit-button,
    button.close-button {
        padding: 1.5vh;
        border-radius: 4vh;
        margin-bottom: 2vh;
        margin-top: 1vh;
        cursor: pointer;
        font-size: 2.2vh;
        width: 55%;
        transition: transform 0.4s ease;
        &:hover{
            transform: scale(1.1);
            transition: transform 0.4s ease;
        }
        
    }

    button.submit-button {
        background-color: #3C74BD;
        border: none;
        color: #f8f8f8;
    }

    button.close-button {
        background-color: #d8d8d8;
        border: none;
    }

    .error_message {
        color: rgb(242, 60, 60);
        margin-top: 2vh;
        font-size: 2vh;
    }
}

#boto {
    bottom: 20vh;
    left: 50%;
    position: fixed;
    padding: 2vh 8vw;
    border: none;
    border-radius: 4vh;
    cursor: pointer;
    background-color: #ffffff;
    color: black;
    opacity: 0.8;
    font-size: 2.5vh;
    font-family: 'Open Sans', sans-serif;
    transform: translateX(-50%) scale(1);
    transition: transform 0.4s ease;
}

#boto:hover {
    transform: translateX(-50%) scale(1.1);
    transition: transform 0.4s ease;
}


@media (max-width: 600px) {
    .login_container {
        width: 90%;
        bottom: 2vh;
        padding: 5vh;
    }

    input {
        width: calc(100% - 4vh);
    }

    button.submit-button,
    button.close-button {
        width: 80%;
        font-size: 2.5vh;
    }
    
    #boto {
        bottom: 5vh;
        font-size: 3vh;
    }
}
