.login_container {
    top: 71%;
    left: 50%;
    height: 50%;
    width: 30vw;
    padding: 2vw 4vw 2vw 4vw;
    position: fixed;
    border-radius: 4vw;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        font-size: 1.5vw;
        margin-bottom: 2vw;
    }

    input {
        display: block;
        width: calc(100% - 10vw);
        padding: 0.8vw;
        margin: 0 auto 2vw;
        border: 0.1vw solid #B2B1B1;
        border-radius: 2vw;
        font-size: 1.3vw;

        &:hover {
            border: 0.2vw solid #5782AA;
        }
    }

    button.submit-button,
    button.close-button {
        padding: 1vw;
        border-radius: 2vw;
        cursor: pointer;
        transition: transform 0.4s ease;
        font-size: 1.3vw;

        &:hover {
            transform: scale(1.05);
        }
    }

    button.submit-button {
        width: 50%;
        margin-bottom: 0.8vw;
        background-color: #5782AA;
        border: none;
        color: #f8f8f8;
    }

    button.close-button {
        width: 30%;
        margin-top: 0.8vw;
        background-color: #B2B1B1;
        border: none;
    }

    .error_message {
        color: rgb(242, 60, 60);
        margin-top: 10px;
        font-size: 13px;
    }
}
