.black-text {
    color: black;
}

.blue-text {
    color: #5782AA;
}

.main_logo_container {
    top: 30%;
    width: 30%;
    height: 10vw;
    margin: 0 auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    .logo_img {
        height: 8vw;
        width: auto;
    }

    h1 {
        font-family: 'Playfair Display';
        position: relative;
        font-size: 8vw;
    }

    .page_subtitle {
        font-family: 'Open Sans', sans-serif;
        position: fixed;
        top: 5vw;
        
        h2 {
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            font-size: 1.7vw;
        }
    }
}

  #boto {
    bottom: 6vw;
    left: 50%;
    position: fixed;
    padding: 10px 9vw;
    border: none;
    border-radius: 20px;
    transform: translate(-50%, -50%);

    background-color: #ffffff;
    color: rgb(0, 0, 0);
    opacity: 0.8;

    text-decoration: none;
    font-size: 1.3vw;
    font-family: 'Open Sans', sans-serif;
}
