.quisom_container {
    position: absolute;
    left: 50%;
    top: 28vw;
    height: 24vw;
    width: 60vw;
    padding: 20px;
    border-radius: 2vw;
    margin-top: -12vw;
    margin-left: -30vw;
    background-color: #E7E6E6;
    display: flex;

    img {
        width: 40%; /* Set width of the image */
        height: auto; /* Maintain aspect ratio */
        border-radius: 2vw;
        margin-left: 0.8vw; /* Add margin between image and text */
        margin-right: 4vw; /* Add margin between image and text */
    }
}

.quisom_text {
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Align items vertically */
    flex: 1; /* Allow the paragraph to grow to fill available space */
    margin-right: 0.8vw; /* Add margin between image and text */
    
    h3 {
        font-size: 1.6vw;
        align-self: center; /* Align h3 to the start of the flex container */
    } 
    
    p {
        flex: 1; /* Allow the paragraph to grow to fill available space */
        font-size: 1.3vw;
        text-align: justify; /* Justify text */
        align-self: center;
    }
}

.project_container {
    position: absolute;
    left: 50%;
    top: calc(28vw + 24vw + 12vw);
    height: 24vw;
    width: 60vw;
    padding: 20px;
    border-radius: 2vw;
    margin-top: -12vw;
    margin-left: -30vw;
    background-color: #E7E6E6;
    display: flex;

    img {
        width: 40%; /* Set width of the image */
        height: auto; /* Maintain aspect ratio */
        border-radius: 2vw;
        margin-left: 0.8vw; /* Add margin between image and text */
        margin-right: 4vw; /* Add margin between image and text */
    }
}

.contact_container {
    position: absolute;
    left: 50%;
    top: calc(28vw + 24vw + 12vw + 24vw + 12vw);
    height: 24vw;
    width: 60vw;
    padding: 20px;
    border-radius: 2vw;
    margin-top: -12vw;
    margin-left: -30vw;
    background-color: #E7E6E6;
    display: flex;
    column-gap: 1vw;

    .form_container {
        width: 50%;
    
        label {
            font-size: 1.3vw;
        }
    
        input[type='name'], input[type='email'], textarea {
            width: 95%;
            padding: 0.8vw;
            margin-top: 0.5vw;
            box-sizing: border-box;
            border-radius: 0.5vw;
            border: 1px solid #f8f8f8;
            background-color: #f8f8f8;
            
            font-size: 1vw;
            font-style: italic;
            color: #8a8a8a;

            &:hover {
                border: 0.2vw solid #5782AA;
            }
        }
    
        textarea {
            height: 7.6vw;
        }
    
        input[type='submit'] {
            width: 25%;
            margin-top: 0.9vw;
            padding: 0.8vw;
            border: none;
            border-radius: 0.5vw;
            background-color: #5782AA;
            color: #f8f8f8;
            
            font-size: 1.3vw;
            
            cursor: pointer;
            transition: background-color 0.3s ease;
    
            &:hover {
                background-color: #4b6f92;
            }
        }
    }

    .contact_data_container {
        width: 50%;
        margin-left: 1vw;
        display: flex;
        flex-direction: column;
     
        .description_text {
            height: 50%;
            margin-right: 1vw;
            font-size: 1.3vw;
            text-align: justify;
            align-self: center;
          }

        .contact_data {
            height: 50%;
            display: flex;
            flex-direction: column;
            
            .contact_item {
                display: flex;
                align-items: center;
                height: 35%;
                
                img {
                    height: 80%;
                    width: auto;
                    margin-right: 1vw;
                }
                
                p {
                    font-size: 1.3vw;
                    text-align: justify;
                }
            }
        }
    }
}
