.sidebar {
  position: fixed;
  top: 0;
  left: -16vw;
  height: 100%;
  width: 16vw;
  transition: left 0.3s ease-in-out;
  background-color: #5782AA;
  z-index: 0;
}

.sidebar.open {
  left: 0;
  height: 100%;
}

.sidebar_links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100% - 3.6vw); /* Adjusted height to accommodate logout button */

  ul {
    list-style: none;
    padding-left: 0px;

    li {
      font-size: 1.2vw;
      
      a {
        text-decoration: none;
        color: #000000;
        display: block;
        padding: 0.6vw 1.4vw;
        transition: 0.3s;

        &:hover {
          background-color: #3A5A7D;
          color: #ffffff;
        }
      }
    }
  }
}

.logout_button {
  background-color: transparent; /* Remove background color */
  color: #ffffff; /* Text color */
  border: none; /* Remove default button border */
  padding: 0.4vw 1vw; /* Smaller padding */
  font-size: 1vw; /* Smaller font size */
  text-decoration: none; /* Remove default button underline */
  cursor: pointer; /* Show pointer cursor on hover */
  transition: 0.3s; /* Smooth transition on hover */

  /* Position the logout button at the bottom left */
  position: absolute;
  bottom: 0;
  left: 0;
}
