.panel_bar {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space items evenly */
    position: relative;
    left: 50%;
    height: 4vw;
    width: 70vw;
    border-radius: 2vw;
    margin-top: -12vw;
    margin-left: -35vw;
    background-color: #B2B1B1;
}
  
.prompt_bar {
    height: 4vw;
    width: 62vw;
    padding: 0.8vw 0vw 0.8vw 2vw;
    border: 0;
    border-radius: 2vw;
    background-color: transparent;
    padding-left: 2vw;
}