.chat_container {
    position: absolute;
    background-color: #E7E6E6;
    left: 50%;
    top: 28vw;
    height: 38vw;
    width: 70vw;
    padding: 20px;
    border-radius: 2vw;
    margin-top: -12vw;
    margin-left: -35vw;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 6vw;
}

.chat_test {
    position: "relative";
    height: 800px;
    width: 700px;
    background-color: #0e5f54;
}

.eulalia_message {
    background-color: #e32828;
    color: rgb(0, 162, 38);
}

