.header {
    background-color: rgb(211, 199, 216);
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.nav_list_icon {
    height: 40px;
    padding-top: 5px;
}

.nav_list_icon:hover {
    transform: scale(1.1); /* Increase size by 10% */
    transition: transform 0.4s ease; /* Add smooth transition */
}

.nav_list_icon:not(:hover) {
    transform: scale(1); 
    transition: transform 0.4s ease;
}

.nav_bcn {
    height: 40px;
    padding-top: 5px;
}