.initial_container {
    height: 25vw;
    margin-top: 1vw;
    margin-bottom: 10vw;
    /* padding-bottom: 20px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: aqua;
}

.intro_container {
    background-color: #F4F4F4;
    border-radius: 2vw;
    height: 25vw;
    padding: 10px; /* Add padding for spacing */
    border-radius: 2vw; /* Add border radius for rounded corners */
    margin-left: 1vw;
    margin-right: 1vw;

    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Align items vertically */
    flex: 1; /* Allow the paragraph to grow to fill available space */

    h1 {
        font-size: 1.6vw;
        align-self: center;
        margin-bottom: 4vw;
    }

    p {
        font-size: 1.3vw;
        text-align: justify;
        align-self: center;
        margin: 0vw 3vw;
    }
}

