/* COMPONENT 1: LOGO */

/* Text Colors */
.black-text {
    color: black;
}

.blue-text {
    color: #5782AA;
}

.main_logo_container {
    top: 100px;
    width: 50%;
    height: 150px;
    position: relative;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_img {
    height: 100px;
    width: auto;
}

.page_subtitle {
    font-family: 'Open Sans', sans-serif; /* Specify Open Sans as the font family */
    position: fixed;
    top: 250px;
}

h1 {
    font-family: 'Playfair Display';
    position: relative;
    font-size: 90px;
}

h2 {
    font-family: 'Open Sans', sans-serif; /* Specify Open Sans as the font family */
    font-weight: bold;
    font-size: 20px;
}
 
/* COMPONENT 2: LOGIN TAB */

#boto {
    text-decoration: none;
    padding: 10px 9vw;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    opacity: 0.8;
    border: none;
    border-radius: 20px;
    /* display: block;
    margin: 0 auto; */
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);

}