.fill_logo {
    position: absolute;
    left: 50%;
    top: 25%;
    height: 80px;
    width: 200px;
    margin-top: -50px;
    margin-left: -100px;
    background-color: #E7E6E6;
}

.quisom_container {
    position: absolute;
    left: 50%;
    top: 28vw;
    height: 24vw;
    width: 60vw;
    padding: 20px;
    border-radius: 2vw;
    margin-top: -12vw;
    margin-left: -30vw;
    background-color: #E7E6E6;
    display: flex;

    img {
        width: 40%; /* Set width of the image */
        height: auto; /* Maintain aspect ratio */
        border-radius: 2vw;
        margin-left: 0.8vw; /* Add margin between image and text */
        margin-right: 4vw; /* Add margin between image and text */
    }
}

.quisom_text {
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Align items vertically */
    flex: 1; /* Allow the paragraph to grow to fill available space */
    margin-right: 0.8vw; /* Add margin between image and text */
    
    h3 {
        font-size: 1.6vw;
        align-self: center; /* Align h3 to the start of the flex container */
    } 
    
    p {
        flex: 1; /* Allow the paragraph to grow to fill available space */
        font-size: 1.3vw;
        text-align: justify; /* Justify text */
        align-self: center;
    }
}

.project_container {
    position: absolute;
    left: 50%;
    top: 80vw;
    height: 24vw;
    width: 60vw;
    padding: 20px;
    border-radius: 2vw;
    margin-top: -12vw;
    margin-left: -30vw;
    background-color: #E7E6E6;
    display: flex;

    img {
        width: 40%; /* Set width of the image */
        height: auto; /* Maintain aspect ratio */
        border-radius: 2vw;
        margin-left: 0.8vw; /* Add margin between image and text */
        margin-right: 4vw; /* Add margin between image and text */
    }
}

.contact_container {
    position: absolute;
    left: 50%;
    top: 132vw;
    height: 24vw;
    width: 60vw;
    padding: 20px;
    border-radius: 2vw;
    margin-top: -12vw;
    margin-left: -30vw;
    background-color: #E7E6E6;
    display: flex;
}