/* .sidebar {
    width: 250px;
    height: 100vh;
    background-color: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: -250px;
    transition: left 0.3s ease;
}

.sidebar.open {
    left: 0;
}
   */

.sidebar {
  position: absolute;
  left: -200px;
  height: 100%;
  width: 200px;
  transition: left 0.3s ease-in-out;
  background-color: #5782AA;
}

/* .sidebar-toggle {
  position: absolute;
  top: 20%;
  right: -60px;
  height: 60px;
  width: 60px;
  z-index: 1;
} */

/* .content {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 100%;
  transition: left 0.3s ease-in-out;
  background-color: lightgray;
} */

.sidebar.open {
  left: 0;
}

/* .content.open {
  left: 200px;
} */