.sidebar {
  position: absolute;
  left: -200px;
  height: 100%;
  width: 200px;
  transition: left 0.3s ease-in-out;
  background-color: #5782AA;
}

.sidebar.open {
  left: 0;
}

.sidebar_links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  ul {
    list-style: none;
    padding-left: 0px;

    li {
      font-size: 15px;
      
      a {
        text-decoration: none;
        color: #000000;
        display: block;
        padding: 10px 20px;
        transition: 0.3s;

        &:hover {
          background-color: #3A5A7D;
          color: #ffffff;
        }
      }
    }
  }
}