.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30vw;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .popup-container .welcome-text {
    margin-bottom: 70px; /* Adjust as needed */
  }
  
  .popup-container input {
    display: block;
    width: calc(100% - 40px);
    margin: 0 auto 20px;
    padding: 10px;
    border-radius: 8px;
  }
  
  .popup-container button.submit-button {
    width: calc(100% - 40px);
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: #ccc;
    color: rgb(57, 57, 57);
    border: none;
  }
  
  .popup-container button.close-button {
    margin-top: 90px;
    background-color: #5782AA;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
  }
  